# Created by https://gitignore.io/api/packer,vagrant

### Packer ###
# Cache objects
packer_cache/
.packer.d/

# For built boxes
*.box

### Packer Patch ###
# ignore temporary output files
output/

### Vagrant ###
# General
.vagrant/

# End of https://gitignore.io/api/packer,vagrant
